img{
    width:100%;
    height: 100%;
    object-fit: cover;
    


 }

.hero-text{
    position:absolute;
    top:45%;
    left:25%;
    transform: translate(-50%,-50%);
    color:white;
    font-size: 55px;


}

.hero-text2{
    position:absolute;
    top: 70%;
    left:30%;
    transform: translate(-50%,-50%);
    color:white;
    font-size: 65px;

}

.Imagine{
    background-color: #031D30;
}  
